/* Dashboard Global Style */
.dashboard {
    display: flex;
    min-height: 100vh;
    background-color: var(--bg);
    /* position: relative; */
}


/* Images Global Style */
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}