body {
    font-family: var(--font-primary);
    background-color: var(--bg);
    color: var(--text-secondary);
    text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
    font-weight: 600;
}

p {
    font-weight: 400;
}