.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    overflow: hidden;
}

.content {
    padding: 20px;
    flex: 1;
    background-color: #111111;
    overflow-y: auto;
    scrollbar-width: none;
    display: flex;
    column-gap: 10px;
}

.content .fixtures {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    height: 100%;
    flex: 1;

}

.content .fixtures .bg-t-match {
    color: var(--text-white);
    background: linear-gradient(rgb(167 90 45 / 70%), rgba(45, 45, 167, 0.7)), url("../../images/leagues/uefa-champions.jpg") center/cover no-repeat;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    flex: 0.3;
}

.content .fixtures .bg-t-match .info-match {
    height: 100%;
    background: url("../../images/leagues/messi-bg\ \(Edited\).png") right/contain no-repeat;
    padding: 20px;

}

.content .fixtures .bg-t-match .info-match h2 {
    font-size: 3rem;
    margin: 82px 0;

}

.content .fixtures .bg-t-match .info-match p {
    font-weight: 400;
    padding: 10px 0px;
    font-size: 2.2rem;
    color: #ffffffbd;
}

.content .fixtures .bg-t-match .info-match .watch-now {
    padding: 20px 30px;
    margin-top: 48px;
    font-size: 2.3rem;
    border-radius: 10px;
    color: wheat;
    background: var(--icon-color);
    font-weight: bold;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: none;
}

.content .fixtures .match-schedule {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    overflow: hidden;
    border: 1px solid var(--text-secondary);
    flex: 1;
    max-height: 1400px;
}

.content .fixtures .match-schedule .schedule-header {
    width: 100%;
    display: flex;
    height: 60px;
    justify-content: space-between;
    background-color: #181818;
    padding: 0 20px;
    cursor: pointer;
}

.content .fixtures .match-schedule .col.all {
    color: var(--text-white);
}

.content .fixtures .match-schedule .col {
    font-weight: bold;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 5px;
}

.content .fixtures .match-schedule .col.active,
.content .fixtures .match-schedule .col:hover {
    border-bottom: 2px solid var(--icon-color);
}

.content .fixtures .schedule-content {
    color: var(--text-white);
    overflow-y: auto;
    scrollbar-width: none;
    flex: 1;
}

.content .fixtures .schedule-content .live {
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.content .fixtures .schedule-content .live .team {
    padding: 40px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .fixtures .schedule-content .live .team:nth-child(even) {
    background-color: #181818;
    box-shadow: 1px 0px 16px 0px #3f3f3f;
}

.content .fixtures .schedule-content .live .team .team-one,
.content .fixtures .schedule-content .live .team .team-two {
    display: flex;
    column-gap: 10px;
    width: 25%;

}

.content .fixtures .schedule-content .live .team .team-one .img-team,
.content .fixtures .schedule-content .live .team .team-two .img-team {
    width: 20px;
    height: 24px;
}

.content .fixtures .schedule-content .live .team .result {
    background-color: #6b4931;
    text-align: center;
    padding: 5px 15px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    color: var(--icon-color);
}

.content .fixtures .schedule-content .live .team .match-minute {
    color: var(--icon-color);
}

.content .fixtures .schedule-content .live .team .match-actions {
    cursor: pointer;
}

.content .fixtures .schedule-content .live .team .match-actions i {
    margin-right: 10px;
    font-size: 1.3rem;
    color: var(--text-secondary);
}

/* hot-news-sidebar */
.hot-news-sidebar {
    width: 300px;
    background-color: var(--layout-bg);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: none;
    overflow: hidden;
}

.hot-news-sidebar .latest-news,
.hot-news-sidebar .latest-highlights {
    flex: 1;
    padding: 15px;
    color: var(--text-white);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hot-news-sidebar .latest-news .subtitle,
.hot-news-sidebar .latest-highlights .subtitle {
    display: flex;
    justify-content: space-between;
}

.hot-news-sidebar .latest-news .subtitle span,
.hot-news-sidebar .latest-highlights .subtitle span {
    color: var(--icon-color);
}

.hot-news-sidebar .latest-news .box-news,
.hot-news-sidebar .latest-highlights .box-highlights {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.hot-news-sidebar .latest-news .box-news .box-img,
.hot-news-sidebar .latest-highlights .box-highlights .box-img {
    min-width: 65px;
    height: 55px;
    overflow: hidden;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.hot-news-sidebar .latest-highlights .box-highlights .box-img {
    min-width: 90px;
    height: 60px;
}

.hot-news-sidebar .latest-news .box-news p,
.hot-news-sidebar .latest-highlights .box-highlights p {
    max-width: 215px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hot-news-sidebar .latest-news .times {
    font-size: 0.8rem;
    color: var(--text-secondary);
}

.hot-news-sidebar .latest-news i {
    color: var(--text-secondary);
}